body{
	background-color: #000;
	background: url('../img/aa.png');
}
div {
	 display: flex;
	  transition: all .5s;
	  user-select: none;
	  background: linear-gradient(to bottom, white, black);
	  border-radius: 5px;
}